<footer class="page-footer">
  <section class="bg-color-gradient py-6">
    <div class="px-2 text-center">
      <h3 class="headline headline--brand-bold headline--big color-white">Benötigen Sie Hilfe bei der Realisierung Ihres Projektes?</h3>
      <p class="font--big color-light-gray mt-1">Lassen Sie uns sprechen, um zu sehen, wie ich helfen kann.</p>
      <div class="flex align-center justify-center mt-3">
        <a href="/kontakt.html" class="btn btn-ghost btn-ghost--light">Kontakt aufnehmen</a>
      </div>
    </div>
  </section>
  
  <div class="container-fluid">
    <div class="footline">
      <nav>
        <ul class="nav-legal">
          <li><a href="/datenschutzerklaerung/">Datenschutzerklärung</a></li>
          <li><a href="/impressum.html">Impressum</a></li>
          <li><a href="/agb.html">AGB</a></li>
        </ul>
      </nav>

      <p>Erstellt mit ❤ in Baden.</p>
    </div>
  </div>
</footer>
