<header class="page-header" role="banner">
  <div class="container1 container-fluid1">
    <div class="page-header-inner">
      <a href="/" title="Startseite">
        {% include "logo.njk" %}
      </a>

      {% include 'navigation.njk' %}
    </div>
  </div>
</header>

