<header class="page-header" role="banner">
  <div class="">
    <div class="page-header-inner container-small">
      <a href="/" title="Startseite">
        {% include "logo.njk" %}
      </a>

      {% include 'navigation.njk' %}
    </div>
  </div>
</header>
