<section class="hero">
  <h1 class="hero__headline">Komplexe Anforderungen. Klare Lösungen. <br />Hochwertige Webentwicklung für Unternehmen.</h1>
  <h2 class="hero__subheadline">Mit über 15 Jahren Erfahrung in Backend & Frontend entwickle ich stabile, wartbare und moderne Lösungen.</h2>
  <div class="hero__btn-group">
    <a href="/projekte/" class="btn btn-ghost">Projekte ansehen</a>
    <a href="/kontakt.html" class="btn btn-text">Jetzt anfragen</a>
  </div>
</section>
