<div class="testimonials">
  <div class="card">
    <div class="card__header">
      <p class="card__quote">
        {% include "icon/quote.njk" %}
      </p>
    </div>

    <div class="card__content">
      <p class="card__text">Die Zusammenarbeit mit Yannick über mittlerweile mehr als 5 Jahre spricht für sich. Gemeinsam haben wir mehrere Apps entwickelt, die von weit über 100.000 Nutzern genutzt wurden. Ob Architektur, Umsetzung oder Maintenance – Yannick hat in jeder Phase zuverlässig und auf höchstem Niveau abgeliefert. Was ihn besonders auszeichnet: Er denkt mit, löst Probleme eigenständig und liefert Ergebnisse, auf die man sich verlassen kann. Eine langfristige Zusammenarbeit, die ich uneingeschränkt weiterempfehlen kann!</p>
    </div>
    <div class="card__footer card__footer--border">
      <p class="my-0">
        <span class="font-brand-bold">Dr. Pascal Anders</span><br />
        <span>CEO, Flinkback GmbH</span>
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card__header">
      <p class="card__quote">
        {% include "icon/quote.njk" %}
      </p>
    </div>

    <div class="card__content">
      <p class="card__text">Die Zusammenarbeit mit Yannick war wunderbar! Er hat meine Wünsche nicht nur verstanden, sondern auch mit seinen Ideen ergänzt, super klar strukturiert und realistisch geplant. Besonders angenehm war die gute Erreichbarkeit und, dass er bei Änderungen immer sofort  Rücksprache gehalten hat – dadurch ist ein guter Workflow entstanden.  Die ersten Zoom-Calls haben gleich für Klarheit gesorgt und einen klaren Rahmen - sowohl zeitlicher, als auch finanzieller Natur - gesetzt. Jederzeit gerne wieder! 😊</p>
    </div>

    <div class="card__footer card__footer--border">
      <p class="my-0">
        <span class="font-brand-bold">Mag. Bernhard Holl</span><br />
        <span>CEO, XeisWorks Musikverlag</span>
      </p>
    </div>
  </div>
</div>
