/**
 * @description: Border utilities
 * @project: Utility Framework
 * @author: Yannick Herzog
 * @modified: 2022-03
 */
.no-border {
  border: none !important;
}

/* RIGHT */
.br-0 {
  border-right-width: 0;

  &--sm {
    @media screen and (max-width: $screen-md) {
      border-right-width: 0;
    }
  }

  &--md {
    @media screen and (min-width: $screen-md) {
      border-right-widht: 0;
    }
  }
}

@for $i from 1 through 5 {
  .br-#{$i} {
    border-right: 1px * $i solid $c-light-gray;

    &--sm {
      @media screen and (max-width: $screen-md) {
        border-right: 1px * $i solid $c-light-gray;
      }
    }

    &--md {
      @media screen and (min-width: $screen-md) {
        border-right: 1px * $i solid $c-light-gray;
      }
    }

    &--brand {
      border-right: 1px * $i solid $c-brand;
    }
  }

  $i: $i+1;
}

/* LEFT */
.bl-0 {
  border-left-width: 0 !important;

  &--sm {
    @media screen and (max-width: $screen-md) {
      border-left-width: 0;
    }
  }

  &--md {
    @media screen and (min-width: $screen-md) {
      border-left-widht: 0;
    }
  }
}

@for $i from 1 through 5 {
  .bl-#{$i} {
    border-left: 1px * $i solid $c-light-gray;

    &--sm {
      @media screen and (max-width: $screen-md) {
        border-left: 1px * $i solid $c-light-gray;
      }
    }

    &--md {
      @media screen and (min-width: $screen-md) {
        border-left: 1px * $i solid $c-light-gray;
      }
    }

    &--brand {
      border-left: 1px * $i solid $c-brand;
    }
  }

  $i: $i+1;
}

/* TOP */
.bt {
  &--sm {
    @media screen and (max-width: $screen-md) {
      border-top: 1px solid $c-light-gray;
    }
  }
}

.bt-0 {
  border-top-color: transparent;

  &--md {
    @media screen and (min-width: $screen-md) {
      border-top-color: transparent;
    }
  }
}

@for $i from 1 through 5 {
  .bt-#{$i} {
    border-top: 1px * $i solid $c-light-gray;

    &--sm {
      @media screen and (max-width: $screen-md) {
        border-top: 1px * $i solid $c-light-gray;
      }
    }

    &--md {
      @media screen and (min-width: $screen-md) {
        border-top: 1px * $i solid $c-light-gray;
      }
    }

    &--brand {
      border-top: 1px * $i solid $c-brand;
    }
  }

  $i: $i+1;
}


/* BOTTOM */
@for $i from 1 through 5 {
  .bb-#{$i} {
    border-bottom: 1px * $i solid $c-light-gray;

    &--sm {
      @media screen and (max-width: $screen-md) {
        border-bottom: 1px * $i solid $c-light-gray;
      }
    }

    &--md {
      @media screen and (min-width: $screen-md) {
        border-bottom: 1px * $i solid $c-light-gray;
      }
    }

    &--brand {
      border-bottom: 1px * $i solid $c-brand;
    }
  }

  $i: $i+1;
}
