@use './variables' as *;

/**
 * @description: Gap utilities
 * @project: Utility Framework
 * @author: Yannick Herzog
 * @modified: 2024-04
 */

 @for $i from 0 through 10 {
  .gap-#{$i} {
    gap: calc(var(--distance-1) * $i);    
  }

  $i: $i + 1;
}

@for $i from 0 through 10 {
  .gap-#{$i} {
    
    &--xs {
      @media screen and (max-width: $screen-xs) {
        gap: calc(var(--distance-1) * $i);
      }
    }
  }

  $i: $i + 1;
}

@for $i from 0 through 10 {
  .gap-#{$i} {
    
    &--sm {
      @media screen and (max-width: $screen-md) {
        gap: calc(var(--distance-1) * $i);
      }
    }
  }

  $i: $i + 1;
}

@for $i from 0 through 10 {
  .gap-#{$i} {
    
    &--md {
      @media screen and (min-width: $screen-md) {
        gap: calc(var(--distance-1) * $i);
      }
    }
  }

  $i: $i + 1;
}

@for $i from 0 through 10 {
  .gap-#{$i} {
    
    &--lg {
      @media screen and (min-width: $screen-lg) {
        gap: calc(var(--distance-1) * $i);
      }
    }
  }

  $i: $i + 1;
}

