/**
 * @description: Variables
 * @project: Utility Framework
 * @author: Yannick Herzog
 * @last-modified: 2023-06
 */

// Media queries
$screen-xs: '360px' !default;
$screen-sm: '768px' !default;
$screen-md: '992px' !default;
$screen-lg: '1200px' !default;
$screen-xl: '1920px' !default;

// Border
$border-radius: 5px !default;
$border-radius-base: 2px !default;

// Layout
$container-width: 1600px !default;
