---
layout: layouts/base.njk
---
<section class="container container-fluid project-detail">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="headline headline--medium headline--brand-bold">{{ title }}</h1>    
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-xs-12">
      <img src="{{eleventyNavigation.coverImage}}" alt="Dashboard" eleventy:widths="500,800,1200" class="project-detail__image" />
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-xs-12 col-md-8">
      {{ content | safe }}
    </div>

    <aside class="col-xs-12 col-md-4 mt-2--sm">
      <ul class="list">
        {%- for tag in tags -%}
          <li>{{ tag }}</li>
        {%- endfor -%}
      </ul>
    </aside>
  </div>

  <div class="row mt-2">
    <div class="col-xs-12">
      <a href="/projekte/" class="btn btn-text gap-1">{% include "icon/left-arrow.njk" %} zur Übersicht</a>
    </div>
  </div>
</section>
