---
permalink: /projekte/pim-system-mit-direkter-pdf-und-webausgabe.html
title: Zentrales PIM-System mit automatisierter PDF-Generierung und direkter Webintegration
description: Ziel war die zentrale Verwaltung sämtlicher Produktdaten – von technischen Parametern über Marketingtexte bis hin zu Variantenbeziehungen – mit direkter Anbindung an verschiedene Ausgabekanäle.
tags:
  - HTML/CSS
  - JavaScript
  - Vue.js
  - Directus
  - Node.js
  - Express
  - knex.js
  - MySQL
  - PDF
  - PIM
eleventyNavigation:
  key: "Zentrales PIM-System mit automatisierter PDF-Generierung und direkter Webintegration"
  parent: "Projekte"
  coverImage: "/../public/img/projekte/pim-pdf-catalog/pdf-katalog.png"
  order: 4
  client: SICHTWECHSEL Medien GmbH
---
{# <section class="container container-fluid project-detail">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="headline headline--medium headline--brand-bold">{{ title }}</h1>    
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-xs-12">
      <img src="{{eleventyNavigation.coverImage}}" alt="Termine"  class="project-detail__image" />
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-xs-12 col-md-8">
      <p>Für einen Kunden aus der Industrie habe ich ein leistungsstarkes <strong>Product Information Management (PIM)</strong> auf Basis von Directus entwickelt. Ziel war die zentrale Verwaltung sämtlicher Produktdaten – von technischen Parametern über Marketingtexte bis hin zu Variantenbeziehungen – mit direkter Anbindung an verschiedene Ausgabekanäle.</p>
      <p>Ein besonderer Fokus lag auf der <strong>automatisierten Publikation</strong>:</p>
      <ul class="mt-1">
        <li>Änderungen an Produkten werden beim Speichern direkt genutzt, um <strong>technische Produktdatenblätter</strong> in Echtzeit neu zu rendern und sofort online verfügbar zu machen – ohne manuellen Zwischenschritt.</li>
        <li>Auch der <strong>Produktkatalog</strong> wird bei jeder Datenänderung automatisch neu erstellt. Dabei unterstützt das System individuelle Coverseiten, dynamische Kategorie-Startseiten und ein generiertes Inhaltsverzeichnis.</li>
        <li>Innerhalb der PDFs ermöglichen <strong>interaktive Verlinkungen</strong> zwischen Varianten eine nutzerfreundliche Navigation – ein Feature, das sowohl für Endkunden als auch für den Vertrieb echten Mehrwert bietet.</li>
      </ul>
      <p>Die Ausgabe der Daten erfolgt u. a. auf einer <strong>Contao-basierten Website</strong>, die direkt mit dem PIM kommuniziert. Alle Produktinformationen dort sind stets aktuell und konsistent.</p>
    </div>

    <aside class="col-xs-12 col-md-4">
      <ul class="list">
        {%- for tag in tags -%}
          <li>{{ tag }}</li>
        {%- endfor -%}
      </ul>
    </aside>
  </div>

  <div class="row mt-2">
    <div class="col-xs-12">
      <a href="/projekte/" class="btn btn-text gap-1">{% include "icon/left-arrow.njk" %} zur Übersicht</a>
    </div>
  </div>
</section> #}

<p>Für einen Kunden aus der Industrie habe ich ein leistungsstarkes <strong>Product Information Management (PIM)</strong> auf Basis von Directus entwickelt. Ziel war die zentrale Verwaltung sämtlicher Produktdaten – von technischen Parametern über Marketingtexte bis hin zu Variantenbeziehungen – mit direkter Anbindung an verschiedene Ausgabekanäle.</p>
<p>Ein besonderer Fokus lag auf der <strong>automatisierten Publikation</strong>:</p>
<ul class="mt-1">
  <li>Änderungen an Produkten werden beim Speichern direkt genutzt, um <strong>technische Produktdatenblätter</strong> in Echtzeit neu zu rendern und sofort online verfügbar zu machen – ohne manuellen Zwischenschritt.</li>
  <li>Auch der <strong>Produktkatalog</strong> wird bei jeder Datenänderung automatisch neu erstellt. Dabei unterstützt das System individuelle Coverseiten, dynamische Kategorie-Startseiten und ein generiertes Inhaltsverzeichnis.</li>
  <li>Innerhalb der PDFs ermöglichen <strong>interaktive Verlinkungen</strong> zwischen Varianten eine nutzerfreundliche Navigation – ein Feature, das sowohl für Endkunden als auch für den Vertrieb echten Mehrwert bietet.</li>
</ul>
<p>Die Ausgabe der Daten erfolgt u. a. auf einer <strong>Contao-basierten Website</strong>, die direkt mit dem PIM kommuniziert. Alle Produktinformationen dort sind stets aktuell und konsistent.</p>