// Utilities
@use "utilities/index" as utils with (
  $screen-xs: '360px',
  $screen-sm: '768px',
  $screen-md: '992px',
  $screen-lg: '1280px',
  $screen-xl: '1920px',
  $border-radius: 5px,
  $border-radius-base: 2px,
  $container-width: 1600px
);

// Base
@use "base/variables";
@use "base/base";
@use "base/fonts";
@use "base/typo";

// Elements
@use "elements/button";

// Layout
@use "layout/grid";
@use "layout/footer";
@use "layout/header";
@use "layout/main";
@use "layout/project";

// Components
@use "components/card";
@use "components/hero";
@use "components/navigation";
