---
layout: layouts/base.njk
title: "Start"
---
{% include "heroV2.njk" %}

<section class="bg-color-blue-800 pt-4 pb-7">
  <div class="container-small container-fluid">
    <p class="font--small color-brand-secondary text-uppercase font-brand-mono">&mdash; Leistungen</p>
    <h2 class="color-white mt-1 mb-2 headline headline--big headline--brand-bold">Ich übernehme <br /> Ihre <span class="color-brand-secondary">anspruchsvollen</span> Webprojekte</h2>
    {% include "serviceV2.njk" %}
  </div>
</section>

<section class="mt-7">
  <div class="container-small container-fluid">
    <p class="font--small color-brand-secondary text-uppercase font-brand-mono">&mdash; Kundenstimmen</p>
    <h2 class="mt-1 mb-2 headline headline--big headline--brand-bold">Was Kunden über meine Arbeit sagen.</h2>
    {% include "testimonials.njk" %}
  </div>
</section>

{# <section class="grid grid--4col" style="padding: 0 2rem; margin-top: 6rem;">
  {% include "service.njk" %}
</section> #}
