---
layout: layouts/base.njk
title: "Start"
---
<section class="hero">
  <h1 class="hero__headline">Komplexe Anforderungen. Klare Lösungen. <br />Hochwertige Webentwicklung für Unternehmen.</h1>
  <h2 class="hero__subheadline">Mit über 15 Jahren Erfahrung in Backend & Frontend entwickle ich stabile, wartbare und moderne Lösungen.</h2>
  <div class="hero__btn-group">
    <a href="/projekte/" class="btn btn-ghost">Projekte ansehen</a>
    <a href="/kontakt.html" class="btn btn-text">Jetzt anfragen</a>
  </div>
</section>

<section class="grid grid--4col" style="padding: 0 2rem; margin-top: 6rem;">
  <div class="card">
    <div class="card__header">
      <p class="card__icon">{% include "icon/puzzle.njk" %}</p>
      <p class="card__headline">Individuelle Webanwendungen für Unternehmen</p>
    </div>

    <div class="card__content">
      <p class="card__text">Ich entwickle maßgeschneiderte Weblösungen, die exakt auf deine Geschäftsprozesse abgestimmt sind – skalierbar, sicher und zukunftsfähig.</p>
    </div>
  </div>

  <div class="card">
    <div class="card__header">
      <p class="card__icon">{% include "icon/lightning.njk" %}</p>
      <p class="card__headline">Komplexe Websites mit Fokus auf Performance & Struktur</p>
    </div>

    <div class="card__content">
      <p class="card__text">Ob mehrsprachige Seiten, SEO-Optimierung oder hohe Zugriffszahlen – ich realisiere performante Webauftritte mit klarem Fokus auf Nutzererlebnis und technischer Qualität.</p>
    </div>
  </div>

  <div class="card">
    <div class="card__header">
      <p class="card__icon">{% include "icon/cog.njk" %}</p>
      <p class="card__headline">Technische Beratung & skalierbare Systemarchitektur</p>
    </div>

    <div class="card__content">
      <p class="card__text">Ich unterstütze dich bei der Auswahl der richtigen Technologien und entwickle eine belastbare Architektur für nachhaltige Weblösungen – unabhängig von Frameworks oder Plattformen.</p>
    </div>
  </div>

  <div class="card">
    <div class="card__header">
      <p class="card__icon">{% include "icon/refresh.njk" %}</p>
      <p class="card__headline">Weiterentwicklung bestehender Systeme</p>
    </div>

    <div class="card__content">
      <p class="card__text">Ich übernehme die Pflege, Optimierung und Weiterentwicklung bestehender Weblösungen – pragmatisch, strukturiert und mit Blick auf zukünftige Anforderungen.</p>
    </div>
  </div>
</section>
