---
layout: layouts/base.njk
permalink: /projekte/
title: "Meine Arbeiten"
eleventyNavigation:
  key: "Projekte"
  order: 1
---
<section class="container-small container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="headline headline--medium headline--brand-bold">{{ title }}</h1>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-xs-12">
      {% set navPages = collections.all | eleventyNavigation("Projekte") %}
      <nav>
        <ul class="grid grid--4col" style="padding-left: 0; margin: 0; list-style: none;">
          {%- for entry in navPages %}
            <li{% if entry.url == page.url %} class="my-active-class"{% endif %} class="flex1">
              <a href="{{ entry.url }}" class="project-card">
                <div class="project-card__image-container">
                  <img src="{{entry.coverImage}}" alt="{{ entry.title }}" eleventy:widths="500" class="project-card__image"/>
                </div>

                <div class="project-card__header">
                  <p class="project-card__headline">
                    {% if entry.client %}
                      {{ entry.client }}
                    {% else %}
                      {{ entry.title }}
                    {% endif %}
                  </p>
                  <p class="font-brand-mono font--small mt-small mb-0">{{ entry.role }}</p>
                </div>

                <div class="project-card__content">
                  <p class="project-card__teaser">{{ entry.description }}</p>
                </div>

                <div class="project-card__footer">
                  <ul class="project-card__tags">
                    {%- for tag in entry.tags %}
                      <li>
                        <code>{{ tag }}</code>
                      </li>
                    {%- endfor %}
                  </ul>
                </div>
              </a>
            </li>
          {%- endfor %}
        </ul>
        <nav></div>
      </div>
    </section>